{
    "token": "",
    "owner": "",
    "prefix": "!",
    "logLevel": "verbose",
    "database": {
        "host": "",
        "port": "5432",
        "username": "",
        "password": "",
        "name": "stonebot"
    }
}
