---
---

@import '{{ site.theme }}';

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}

dt a:hover, dt a:focus {
  font-weight: 700;
}

header ul a:hover, header ul a:focus {
  font-weight: normal;
}
